.card {
    width: 300px;
    height: 470px;
    padding: 10px;
    border-radius: 5px;
    position: relative;
}

.card:hover {
    box-shadow: 0px 0px 10px 10px rgb(226, 226, 226);
}

.card__pictures {
    width: 300px;
    height: 300px;
}

.stycki__discount {
    position: absolute;
    left: 5px;
    background-color: red;
    border-radius: 30px;
    padding: 0px 7px 2px 7px;
    color: white;
    font-weight: 700;
}

.card__stycki_top-right {
    position: absolute;
    right: 5px;
}

.card__cart {
    padding: 10px 18px;
    background-color: #FFE44D;
    border-radius: 50px;
    font-family: 'Nunito';
    font-weight: 700;
    font-size: 16px;

}

.card__favorite {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
}

.card__favorite svg {
    fill: #ffffff;
    stroke-width: 1px;
    stroke: rgb(199, 198, 198);
}

.card__favorite_is-active svg {
    fill:#F44336;
    stroke: #F44336;
    /* stroke-width: 0px; */
}

.like {
    fill: red;
}

.price {
    font-family: 'Nunito';
    font-size: 20px;
    font-weight:700;
    color: #F44336;
}

.old__price {
    font-family: 'Nunito';
    text-decoration: line-through;
}

.card__wight {
    font-family: 'Nunito';
    font-size: 12px;
    font-weight: 400;
}

.card__name {
    font-family: 'Nunito';
    font-size: 16px;
    font-weight: 600;
}

