.box__sort {
    display: flex;
    box-shadow: 5px 5px 10px 5px rgb(226, 226, 226);
    border-radius: 5px;
    margin: 15px;
}

.box__sort-button {
    padding: 10px;
    color: #ACB9BE;
} 

.box__sort-button:hover {
    cursor: pointer;
    color: black;
}

.box__sort-black {
    color: black;
}


